body {
    /* Couleur du texte */
    color: #333;

    /* Police de caractère */
    font-family: Arial, Helvetica, sans-serif;

    /* Taille de la police */
    font-size: 18px;

    /* Epaisseur de la police */
    font-weight: normal;
    /* normal | bold */

    /* Style de la police */
    font-style: normal;
    /* normal | italic */

    /* alignement du texte */
    text-align: center;
    /* center | left | right | justify */
}

a {
    /* Style sur le texte (souligné, barré..) */
    text-decoration: none;
    /* underline */
}

a:hover {
    text-decoration: underline;
    color: red;
}

a:visited {
    color: pink;
}

.definition {
    /* Majuscule, minuscule */
    text-transform: capitalize;
    /* uppercase | lowercase | capitalize */
}

.list-definition {
    list-style: none;
    text-align: left;
}
